Xft.antialias:	1
Xft.hinting:	1
Xft.autohint:	0
Xft.hintstyle:	hintslight
Xft.rgba:	rgb
Xft.lcdfilter:	lcddefault

st.font: Victor Mono Nerd Font:pixelsize=18

! window padding
st.borderpx: 20
!- 0.1 to 0.9 = transparency
st.alpha: 1.0

*background: #0A0A0D   
*foreground: #DBE0EA    

! black + darkgrey
*color0:  #131320       
*color8:  #6A6A85 
      
! darkred + red
*color1:  #E67D8E       
*color9:  #FF9CAA 
      
! darkgreen + green
*color2:  #5CCFB0       
*color10: #7DFFE0 
      
! darkyellow + yellow
*color3:  #EAD091       
*color11: #FFE9B3  
     
! darkblue + blue
*color4:  #8ABAFF       
*color12: #B1D1FF       

! darkmagenta + magenta
*color5:  #C59AFF       
*color13: #DDB8FF    
   
! darkcyan + cyan
*color6:  #7DE3FF       
*color14: #A1EDFF   
    
! lightgrey + white
*color7:  #D0D3DA       
*color15: #FFFFFF
