Xft.antialias:	1
Xft.hinting:	1
Xft.autohint:	0
Xft.hintstyle:	hintslight
Xft.rgba:	rgb
Xft.lcdfilter:	lcddefault

st.font: Victor Mono Nerd Font:pixelsize=18


! window padding
st.borderpx: 20

!- 0.1 to 0.9 = transparency
st.alpha: 1.0

*background: #121212   
*foreground: #C3C6D0    

! black + darkgrey
*color0:  #0F0F0F       
*color8:  #5A5A70       

! darkred + red
*color1:  #E06E6E       
*color9:  #FF8787       

! darkgreen + green
*color2:  #4EA49F       
*color10: #6FFFB3       

! darkyellow + yellow
*color3:  #E5C580       
*color11: #FFE3A3       

! darkblue + blue
*color4:  #89B4FA       
*color12: #AFCBFF       

! darkmagenta + magenta
*color5:  #B28DFF       
*color13: #C6A8FF       

! darkcyan + cyan
*color6:  #70D6FF       
*color14: #8AE4FF       

! lightgrey + white
*color7:  #C5C6C7       
*color15: #FFFFFF       
