Xft.antialias:	1
Xft.hinting:	1
Xft.autohint:	0
Xft.hintstyle:	hintslight
Xft.rgba:	rgb
Xft.lcdfilter:	lcddefault

st.font:         Commit Mono Nerd Font:style:regular:pixelsize=15


! window padding
st.borderpx: 20

!- 0.1 to 0.9 = transparency
st.alpha: 1.0

*background: #0F0F0F     
*foreground: #C3C6D0    

! Black + DarkGrey
*color0:  #0F0F0F       
*color8:  #5A5A70       

! DarkRed + Red
*color1:  #E06E6E       
*color9:  #FF8787       

! DarkGreen + Green
*color2:  #4EA49F       
*color10: #6FFFB3       

! DarkYellow + Yellow
*color3:  #E5C580       
*color11: #FFE3A3       

! DarkBlue + Blue
*color4:  #89B4FA       
*color12: #AFCBFF       

! DarkMagenta + Magenta
*color5:  #B28DFF       
*color13: #C6A8FF       

! DarkCyan + Cyan
*color6:  #70D6FF       
*color14: #8AE4FF       

! LightGrey + White
*color7:  #C5C6C7       
*color15: #FFFFFF       
